<html>
    <head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
	<div id="bibvue">
	    <v-app><v-main>
		<v-container>
		    <span v-for="item in sections[current_section]" :key="item.id">
			<h3>{{item.title}}</h3>
			<v-simple-table dense>
			    <template v-slot:default>
			    <tbody>
				<tr v-if="item.URL">
				    <th>URL</th>
				    <td><a :href="item.URL">{{item.URL}}</a></td>
				</tr>
				<tr v-if="item.issued['date-parts']">
				    <th>Date</th>
				    <td>{{item.issued['date-parts'].join("/")}}</td>
				</tr>
				<tr v-if="item['collection-title']">
				    <th>Where</th>
				    <td>{{item['collection-title']}}</td>
				</tr>
				<tr v-if="item['container-title']">
				    <th>Where</th>
				    <td>{{item['container-title']}}</td>
				</tr>
				<tr v-if="item.publisher">
				    <th>Where</th>
				    <td>{{item.publisher}}</td>
				</tr>
				<tr v-if="item.author">
				    <th>Authors</th>
				    <td>
					<span v-for="author in item.author">
					    {{author.given}} {{author.family}},
					</span>
				    </td>
				</tr>
				<tr>
				    <th>References</th>
				    <td>{{item.DOI}} / {{item.ISBN}}</td>
				</tr>
				<tr v-if="item.note">
				    <th>Notes</th>
				    <td>{{item.note}}</td>
				</tr>
				<tr v-if="item.keyword">
				    <th>Keywords</th>
				    <td>{{item.keyword}}</td>
				</tr>
			    </tbody>
			    </template>
			</v-simple-table>
			<p v-if="item.abstract">
			    <strong>Abstract: </strong>
			    {{item.abstract}}
			</p>
		    </span>
		</v-container>
	    </v-main></v-app>
	</div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!--  <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script>

     var bibdefs=[
	 { 'file': 'wjh-bib.json' },
     ];

     var bib_data={
	 'current_section': 'papers',
	 'sections':
	 { ,
	 }
     };

     var load_bibs = async function() {
	 bib_data = []
	 for (i=0; i < bibdefs.length ; i++) {
	     try {
		 const response =
		     await fetch(bibdefs[i].file);
		 const data = await response.json();
		 bib_data.append(data)
	     } catch (error) {
		 console.log('failed to fetch ' + bibdefs[i].file);
	     }
	 }
     }

     Vue.component('bib-entry', {
	 props: ['bibentry'],
	 template: `
	     <h1>foo</h1>
	 `
     });
     var app = new Vue({
	 el: '#bibvue',
	 data: bib_data,
	 vuetify: new Vuetify(),
	 created() {
	     //load_bibs();
	 },
	 methods: {
	 }
     });
	     
    </script>
</html>
