<html>
    <head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<link href="bibvue.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
	<script>
	 var bibdefs=[
	     { 'file': 'wjh-bib.json',
	       'title': 'Peer-reviewed papers'},
	     { 'file': 'wjh-presentations.json',
	       'title': 'presentations'},
	     { 'file': 'wjh-rssac.json',
	       'title': 'rssac publications'},
	     { 'file': 'wjh-rfc.json',
	       'title': 'IETF rfcs'},
	     { 'file': 'wjh-software.json',
	       'title': 'software'},
	 ];
	</script>
	
	<div id="bibvue">
	    <v-app><v-main>
		<v-container>
		    <v-row class="mx-auto">
			<v-col cols="2">
			    <v-card flat>
				<v-card-title>Wes Hardaker</v-card-title>
				<v-card-text>
				    Networking and Cyber Security Division<br />
				    Senior Computer Scientist <br />
			    <br />
			    <a href="https://www.isi.edu/~hardaker">[about me]</a>
				</v-card-text>
			    </v-card>
			</v-col>
			<v-col cols="7">
			    <v-img src="http://www.isi.edu/sites/all/themes/custom/isi2014/images/logos/isi_logo.gif"
				   contain>
			    </v-img>
			</v-col>
			<v-col cols="2">
			    <v-card flat>
				<v-img max-height="200"
				       contain 
				       src="https://www.isi.edu/~hardaker/images/wes_hardaker_sm.jpg">
				</v-img>
			    </v-card>
			</v-col>
		    </v-row>

		    <v-card>
			<v-card-title>
			    Publications
			</v-card-title>
			<v-card-text>
			    <v-tabs v-model="current_section">

				<v-tab v-for="section in sections"
				       :key="section.title">
				    {{section.title}}
				</v-tab>
				
				<v-tabs-items v-model="current_section">
				    <v-tab-item v-for="section in sections"
						:key="section.title">
					<span v-for="item in section.content" :key="item.id">
					    <h3 v-html="item.title"></h3>
					    <v-simple-table dense>
				 		<template v-slot:default>
				 		    <tbody>
				 			<tr v-if="item.URL">
				 			    <th>URL</th>
				 			    <td><a :href="item.URL">{{item.URL}}</a></td>
				 			</tr>
				 			<tr v-if="item.issued['date-parts']">
				 			    <th>Date</th>
				 			    <td>{{item.issued['date-parts'].join("/")}}</td>
				 			</tr>
				 			<tr v-if="item['collection-title']">
				 			    <th>Where</th>
				 			    <td>{{item['collection-title']}}</td>
				 			</tr>
				 			<tr v-if="item['container-title']">
				 			    <th>Where</th>
				 			    <td>{{item['container-title']}}</td>
				 			</tr>
				 			<tr v-if="item.publisher">
				 			    <th>Where</th>
				 			    <td>{{item.publisher}}</td>
				 			</tr>
				 			<tr v-if="item.author">
				 			    <th>Authors</th>
				 			    <td>
				 				<span v-for="author in item.author">
				 				    {{author.given}} {{author.family}},
				 				</span>
				 			    </td>
				 			</tr>
				 			<tr v-if="item.DOI || item.ISBN">
				 			    <th>References</th>
				 			    <td>{{item.DOI}} / {{item.ISBN}}</td>
				 			</tr>
				 			<tr v-if="item.note">
				 			    <th>Notes</th>
				 			    <td>{{item.note}}</td>
				 			</tr>
				 			<tr v-if="item.keyword">
				 			    <th>Keywords</th>
				 			    <td>{{item.keyword}}</td>
				 			</tr>
				 		    </tbody>
				 		</template>
					    </v-simple-table>
					    <p v-if="item.abstract" class="pl-6">
				 		<strong>Abstract: </strong>
				 		{{item.abstract}}
					    </p>
					</span>
				    </v-tab-item>
				</v-tabs-items>

			    </v-tabs>
			</v-card-text>
		    </v-card>
		</v-container>
	    </v-main></v-app>
	</div>
    </body>
    <!-- devel: vuetify@2.x -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
     var bib_data={
	 'current_section': 0,
	 'sections': {}
     };

     // this is hacky and shouldn't be needed
     // somehow sections isn't getting watched properly otherwise by tabs
     for(content in bibdefs) {
	 bib_data['sections'][bibdefs[content].title] = {}
     }

     var load_bibs = async function() {
	 console.log(bib_data);
	 for (i=0; i < bibdefs.length ; i++) {
	     try {
		 const response =
		     await fetch(bibdefs[i].file);
		 const data = await response.json();
		 bib_data['sections'][bibdefs[i].title] =
		     { 'title': bibdefs[i].title,
		       'content': data}
		 console.log("fetched "+ bibdefs[i].file)
	     } catch (error) {
		 console.log('failed to fetch ' + bibdefs[i].file);
	     }
	 }
     }

     Vue.component('bib-entry', {
	 props: ['bibentry'],
	 template: `
	     <h1>foo</h1>
	 `
     });
     var app = new Vue({
	 el: '#bibvue',
	 data: bib_data,
	 vuetify: new Vuetify(),
	 created() {
	     load_bibs();
	 },
	 methods: {
	 }
     });
     
    </script>
</html>
